<div class = "list-item">

  <div  (click)="onClick()" >
    <a href="#" class = "iimage" (click)="onClick()"><img src="{{video.thumbnailUrl}}" class="img-fluid"></a>
  </div>

  <div >
    <div class="ititle"><a href="#" (click)="onClick()" style = "color:black">{{video.title}}</a></div>
    <div class="ichannel">
      <a href="http://youtube.com/channel/{{video.channelId}}" target="_blank" style = "color:black">
        {{video.channelTitle}}
      </a>
    </div>
    <div class="description">
        {{video.description}}
    </div>
    
    <div>
      <select  #playlists class = "addlist" (change)="AddToPlaylist(playlists.value)" >

        <option  value="">Add to...</option>

        <option 
         *ngFor="let playlist of appState.playLists; let i = index"
         [value] = "i" >
           {{appState.playListsName[i]}}
        </option>
      </select>

      <button class="addicon" (click)= "AddToPlaylist(0)"> + </button>
    </div>

  </div>

  <div *ngIf="exist==true" class="alert-message" > exist!</div>
</div>
