select#playlists
{
  
   
   border-radius: 50px;

}


.title {
    color: red;
    font-size: 0.85rem;
    font-weight: bold;
    color: black;
}

.channel {
    font-size: 0.75rem;
    color: black;
}


.description {
    font-size: 0.75rem;
    color: black;
}

.addto{
	border: none;
	font:20px/24px "Yanone Kaffeesatz", HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;


}


