<div class = "playlist">
  <ul class = "nav">
      
    <li class = "nav-item" *ngFor="let items of appState.playLists; let i = index">
    
   	  <ul>

        <button class = "editbutton" (click) = "showEditbox(i)"> &#x270e;
        </button>

        <span *ngIf = "editBox[i] == 0">{{appState.playListsName[i]}}: </span>
        <input  
            #newplaylist 
            *ngIf = "editBox[i] == 1"
            type="text"
            placeholder="new name..."
            (keyup.enter)="addNewPlaylistName(newplaylist.value, i)"
            (focusout) = "addNewPlaylistName(newplaylist.value, i)"
             autofocus
        />
     
        <button class = "editbutton" (click) = "convertState(i)"> 
           <span *ngIf="initState[i] == 1">&#9660;</span>
           <span *ngIf="initState[i] == 0">&#9650;</span>
        </button>
        

      
  		  <li class = "list" *ngFor="let item of items; let j = index" >
    		  <button  class = "listbutton" (click)="clickToPlay(i, j)" *ngIf="initState[i] == 1"> 
            {{j+1}}. {{item?.title.slice(0,35)}}
            <span *ngIf= "item?.title.length > 35">... </span>
          </button>
          <span (click) = "removeFromList(i, j)" *ngIf="initState[i] == 1" style ="float: right"> &#x2718;</span>
  		  </li>

  	  </ul>
    </li>
  </ul>
  	<!--<p *ngIf= "appState.playLists[0].length== 0"> (Empty)</p>-->
	
  <button class = "editbutton" (click) = "addList()"> add list</button>

<div>

<!--
<div>
   
   	<select #playlist (change)="clickToPlay(playlist.value)" >

   		<option value="">My saved playlist</option>

  		<option *ngFor="let item of appState.playList; let i = index"
    		 [value] = "i" >
    		 {{i+1}}. {{item?.title}}

  		</option>
	</select>
<div>
-->