@import url("//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400");

.playlist{

   font:20px/19px "Yanone Kaffeesatz", HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight:300;
   padding:5px 5px;
   color: #5E5449;
   margin-top: 5px;
   margin-bottom: 5px;
}

.playlist-item{
	margin-top: 5px;
}


.list{

	list-style: none;
}

.listbutton {
    background-color: transparent;
    border: none;
    color: #5E5449;
  	width: 20em;
  	overflow: hidden;
  	overflow-text: ellipsis;
  	height: 2em;
  	text-align:left;


}

.listbutton:hover {

	background-color: #F8F8F8;

}

.listbutton:active{


	background-color: #EFEBE6;

}

.editbutton-right{
	background-color: transparent;
	border: none;
	float:right;
	color: #5E5449;
}


.editbutton-left{
	background-color: transparent;
	border: none;
	font-size: 0.80em;
	color: #5E5449;
}



