<div class = "playlist">
  <div class = "playlist-item">
  <ul class= "list-group">
      
    <li style = "list-style:none" *ngFor="let items of appState.playLists; let i = index">
    
   	  <ul class="list-group">

        <button class = "editbutton-right" (click) = "showEditbox(i)"> &#x270e;</button>
        <button class = "editbutton-right" (click) = "removePlaylist(i)">del</button>

        <span style= "font-weight:400" *ngIf = "editBox[i] == 0">&nbsp;&nbsp;{{appState.playListsName[i]}}: </span>
        <input  
            #newplaylist 
            *ngIf = "editBox[i] == 1"
            type="text"
            placeholder="new name..."
            (keyup.enter)="addNewPlaylistName(newplaylist.value, i)"
            (focusout) = "addNewPlaylistName(newplaylist.value, i)"
             autofocus
        />
     
        <button class = "editbutton-left" (click) = "convertState(i)"> 
           <span *ngIf="initState[i] == 1">&#9660;</span>
           <span *ngIf="initState[i] == 0">&#9650;</span>
        </button>
        
  		  <li class = "list" *ngFor="let item of items; let j = index" >
    		  <button  class = "listbutton"  (click)="clickToPlay(i, j)" *ngIf="initState[i] == 1"> 
            {{j+1}}. {{item?.title.slice(0,45)}}
            <span *ngIf= "item?.title.length > 45">... </span>
          </button>
          <button class="editbutton-right" style="padding-top:10px" (click) = "removeFromList(i, j)" *ngIf="initState[i] == 1"> &#x2718;</button>
  		  </li>

  	  </ul>
    </li>
  </ul>
  	<!--<p *ngIf= "appState.playLists[0].length== 0"> (Empty)</p>-->
	<br>

  <button class = "editbutton-left" (click) = "addList()"> add list</button>
</div>
<div>

<!--
<div>
   
   	<select #playlist (change)="clickToPlay(playlist.value)" >

   		<option value="">My saved playlist</option>

  		<option *ngFor="let item of appState.playList; let i = index"
    		 [value] = "i" >
    		 {{i+1}}. {{item?.title}}

  		</option>
	</select>
<div>
-->